<mat-card>
  <mat-card-title>Order by price</mat-card-title>
  <mat-card-content>
    <mat-selection-list role="list" fxLayout="row" [multiple]="false">
      <mat-list-option role="listoption" *ngFor="let item of orders | async" (click)="sort(item)">
        {{item}}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Employees - filter by age</mat-card-title>
  <mat-card-content>
    <mat-selection-list role="list" fxLayout="row" [multiple]="false">
      <mat-list-option role="listoption" (click)="selectAgeRange(20)">
        0 - 20
      </mat-list-option>
      <mat-list-option role="listoption" (click)="selectAgeRange(30)">
        21 - 30
      </mat-list-option>
      <mat-list-option role="listoption" (click)="selectAgeRange(40)">
        31 - 40
      </mat-list-option>
      <mat-list-option role="listoption" (click)="selectAgeRange(50)">
        41 - 50
      </mat-list-option>
      <mat-list-option role="listoption" (click)="selectAgeRange(100)">
        51 - 100
      </mat-list-option>
      <mat-list-option role="listoption" (click)="selectAgeRange(200)">
        All
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Products</mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of employees$ | async">
        {{item.employee_name}} {{item.employee_salary}}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
